.primary-bg-color{
    background-color: #9de6e8;
}

.secondary-color {
    color: #068b78;
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
}

.spinner {
    display: block;
    margin: 5rem auto;
}

.nonfts-message {
    font-size: 2rem;
}

.card-image {
    height: 225px;
    object-fit: contain;
}

.table-p {
    white-space: nowrap; 
    width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.table-url {
    white-space: nowrap; 
    width: 450px; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-card-body {
    padding: 0 24px 24px 24px !important;
}